<div class="card">
  <div class="card-body">
    <h5 class="card-title card-header mb-2">Recent Activity</h5>
    <div class="activity">
      {% for activity in recent_activities %}
        <div class="activity-item d-flex">
          <div class="activite-label nowrap mx-1">{{ activity.created|date:"Y-m-d" }}</div>
          <i class="bi bi-circle-fill activity-badge text-success align-self-start"></i>
          <div class="activity-content">
            <a href="{% url 'animals:animal' activity.animal.id %}"
               class="fw-bold text-dark">{{ activity.animal }}</a>, {{ activity.name }} - {{ activity.description|truncatewords:8 }} <small class="text-muted ">{{ activity.created|timesince }}</small>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>
