{% extends "main.html" %}
{% block content %}
    <div class="pagetitle">
        <h1>Dashboard</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="{% url 'home' %}">Home</a>
                </li>
                <li class="breadcrumb-item active">Sample list</li>
            </ol>
        </nav>
    </div>
    <section class="section dashboard">
        {% include "samples/components/samples_list.html" %}
    </section>
{% endblock content %}
